h1{
    background-color: brown;
    }
    #p1{
    background-color: aqua
    
    }
    h2{
    background-color: bisque;
    
    }
    
    #p2{
        background-color: blueviolet;
    }