#div1{
    background-color: rgb(61, 170, 61);
    height: 200px;
    width: 1350px;
}

#div2{
    background-color: rgb(135, 250, 175) ;
    height: 200px;
    width: 1350px;
}

#div3{
    background-color: rgb(45, 121, 121);
    height: 200px;
    width: 1350px;
}

#div4{
    background-color: rgb(128, 240, 178);
    height: 200px;
    width: 1350px;
}